body {
  overflow: hidden;
}

.bg-img {
  /* background-image: url("https://i.postimg.cc/MTpzMh9H/bg.png"); */
  background-image: url("https://i.postimg.cc/3RbywqyT/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-img::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.25);
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.name {
  font-size: 2.4rem;
  font-weight: 600;
}

.subname {
  font-size: 1.25rem;
  font-weight: 500;
}

.img-fix {
  height: 100vh;
  border-right: solid 3px #00d9ff;
}

@media screen and (max-width: 1000px) {
  .img-fix {
    width: 100vw;
    height: 50vh;
    border-bottom: solid 3px #00d9ff;
    border-right: none;
  }
}

.circle {
  color: #f7f7f7 !important;
  z-index: 5;
  border: 5px solid #00d9ff;
  background-color: rgb(68, 67, 67);
  cursor: pointer;
  user-select: none;
  margin-left: -15px;
}

.circle:hover {
  transition: all .5s;
  color: black !important;
  background-color: #00d9ff;
}

@media screen and (max-width: 1000px) {
  .circle {
    margin-left: 4px;
  }
}

.content {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 50%;
    opacity: 0%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    opacity: 100%;
    width: 100%;
  }
}
.content-apps {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein-app {
  from {
    margin-left: 50%;
    opacity: 0%;
    width: 0%;
  }

  to {
    margin-left: 0%;
    opacity: 100%;
    width: 100%;
  }
}